#start {
  width: 400px;
  float: left;
  height: 3000px;
}

.poster {
  float: left;
  margin-right: 5px;
}

.buttons {
  margin-left: 18px;
  background-color: blue;
  color: white;
}

div {
  padding-block-end: 200px;
}

.poster {
  height: 150px;
  width: 90px;
}
